
.App {
  display: flex;
  flex-direction: row;
}
list{
  display: flex;
}

.header{
  margin-left: 50px;
  margin-top: 20px;
}
.name{
  margin-left: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.searchbar{
  background-color: white;
  width: 200px;
  height: 30px;
  float: right;
  margin-bottom: 20px;
  margin-right: 30px;
  border: none;
  border-radius: 5px;
}




p{
  margin: 0px;
}

.dollar{
  color: green;
}
.right-side{
  width: 85%;
  margin-left: 200px;
  display: flex;
  flex-direction: column;
  background-color: #f0f5f5;

} 





